.feedback-form {
  width: 408px;
  padding: 24px;
  border-radius: 8px;
  background-color: #ffffff;
  margin: 0 auto;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
}

.feedback-form input,
.feedback-form textarea {
  padding: 8px 16px;
  font-size: 16px;
  font-family: inherit;
  color: #2e2f42;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
  transition: border-color 200ms ease;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000000;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #4e75ff;
}

.feedback-form textarea {
  resize: none;
}

.feedback-form button {
  margin-top: 16px;
  width: 95px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
